################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/bin/Release/net8.0/win-x86
/obj/publish/win-x86
/obj
